/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .clearfix {
  content: '';
  display: table;
  clear: both;
} */


/* REGOLE GENERALI */
body {
font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
}

.flex-container {
  display: flex;
}

.ms_white {
  color: white;
}
/* FINE REGOLE GENERALI */

/* COMPONENTI */
/* FINE COMPONENTI */

/* MAIN */
main, footer {
  min-width: 500px;
}

main {
  height: calc( 100vh - 100px );
  width: 100%;
}

/* Navbar */
nav {
  height: 100%;
  width: 300px;
  background-color: black;
  float: left;
  color: #6d6d6d;
  overflow-y: hidden;
  padding: 0 20px;
}

.ms_navbar .flex-container {
  flex-direction: column;
  height: 100%;
}

.flex-item {
  flex-shrink: 0;
}

.flex-item.ms_menu_playlist,
.flex-item.ms_logos:first-child {
  flex-grow: 1;
}

.ms_logo {
  padding: 15px 0;
}

.ms_logo img {
  width: 60%;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.ms_menu_nav img {
  width: 10%;
}

nav li {
  padding-bottom: 15px;
  font-size: 13px;
}

.ms_menu_playlist {
  height: calc( 100% - 300px );
  overflow: hidden;
}

.ms_menu_playlist .ms_plus_link {
  font-size: 15px;
  line-height: 35px;
  display: inline-block;
  padding-bottom: 15px;
}

.ms_plus_sign {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: lightgrey;
  color: black;
}

.ms_list {
  overflow-y: auto;
  min-height: 60px;
  text-transform: capitalize;
  height: calc( 100% - 67px)
}

.ms_name {
  width: 90%;
  background-color: black;
  height: 90px;
  padding: 10px 0;
}

.ms_name img {
  margin-right: 5px;
}

.ms_name a:first-child img {
  width: 5%;
}

.ms_name a:last-child img {
  width: 27px;
  height: 27px;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%;
}

hr {
  color: #6d6d6d;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Logos */
.ms_logos {
  text-align: center;
  width: 100%;
}

.ms_logos img {
  width: 40px;
  padding: 10px 5px;
}

.ms_name.ms_logos {
  margin-bottom: 15px;
}

.ms_name.ms_logos a:first-child img {
  width: 30px;
}

.ms_name.ms_logos a:last-child img {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}

/* Section-Main */
section {
  height: 100%;
  width: calc( 100% - 300px );
  background-color: #141922;
  float: left;
}


.ms_fixed_bar {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: calc( 100% - 300px );
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  line-height: 80px;
  padding-right: 30px;
}

.ms_fixed_bar a {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  /* display: inline-block; */
}

/* .ms_fixed_bar a:hover {
  transform: scale(1.5);
} */

.ms_main_content {
  font-size: 40px;
  height: 100%;
  overflow: scroll;
}
/* FINE MAIN */

/* Inizio Media Query Main */
@media screen and (max-width: 768px) {
  nav {
    width: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  section {
    width: calc( 100% - 60px );
  }

  .ms_fixed_bar {
    width: calc( 100% - 60px );
  }
}
/* Fine Media Query Main */

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}

/* FINE FOOTER */
