/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

/* .clearfix {
  content: '';
  display: table;
  clear: both;
} */

main {
  height: calc( 100vh - 100px );
  width: 100%;
}

nav {
  height: 100%;
  width: 300px;
  background-color: black;
  float: left;
  position: relative;
  color: white;
  overflow-y: hidden;
}

section {
  height: 100%;
  width: calc( 100% - 300px );
  background-color: #141922;
  float: left;
}


.ms_fixed_part {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: calc( 100% - 300px );
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

.ms_main_content {
  font-size: 40px;
  height: 100%;
  overflow: scroll;
}

.ms_list {
  overflow-y: auto;
  min-height: 60px;
  height: calc( 100% - 143px );
}

.ms_name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}

/* .flex-container {
  display: flex;
}

.flex-container.navbar {
  flex-direction: column;
  flex-wrap: wrap;
} */
