/* REGOLE GENERALI */
body {
font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.ms_white {
  color: white;
}
/* FINE REGOLE GENERALI */

/* COMPONENTI */
/* Hover-Playlists */
.ms_hover_playlists {
  width: 100%;
  position: relative;
}

.ms_hover_playlists_i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.ms_main_two:last-child .ms_hover_playlists_i {
  border-radius: 50%;
}

.ms_hover_playlists i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.ms_main_playlists .flex-item:hover .ms_hover_playlists_i {
  z-index: 1;
}
/* FINE COMPONENTI */

/* MAIN */
main, footer {
  min-width: 550px;
}

main {
  height: calc( 100vh - 100px );
  width: 100%;
}

/* Navbar */
nav {
  height: 100%;
  width: 300px;
  background-color: black;
  float: left;
  color: #6d6d6d;
  overflow-y: hidden;
}

nav li {
  padding: 7px 0;
  font-size: 13px;
}

/* Flex-Items */
.ms_navbar .flex-container {
  flex-direction: column;
  height: 100%;
}

nav .flex-item {
  flex-shrink: 0;
}

.ms_navbar .flex-item:not(.ms_menu_nav) {
  padding: 10px 20px;
}

.flex-item.ms_menu_playlist,
.flex-item.ms_logos:first-child {
  flex-grow: 1;
}

/* Logo */
.ms_logo {
  padding: 15px 0;
}

.ms_logo img {
  width: 60%;
}

/* Menu-Nav */
.ms_menu_nav img {
  width: 10%;
}

.ms_menu_nav li {
  padding-left: 20px;
  border-left: 3px solid black;
}

.ms_menu_nav li:first-child {
  border-left: 3px solid #acff30;
}

/* Menu-Playlist */
h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.ms_menu_playlist {
  height: calc( 100% - 300px );
  overflow: hidden;
}

.ms_menu_playlist .ms_plus_link {
  font-size: 15px;
  line-height: 35px;
  display: inline-block;
  padding-bottom: 15px;
}

.ms_plus_sign {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: lightgrey;
  color: black;
}

.ms_plus_link:hover .ms_plus_sign {
  background-color: white;
}

.ms_list {
  overflow-y: auto;
  min-height: 60px;
  text-transform: capitalize;
  height: calc( 100% - 67px)
}

/* Avatar */
.ms_avatar {
  width: 90%;
  background-color: black;
  height: 90px;
  padding: 10px 0;
}

.ms_avatar img {
  margin-right: 5px;
}

.ms_avatar a img {
  width: 7%;
}

.ms_avatar > img {
  width: 27px;
  height: 27px;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%;
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
  border-top: 1px solid #6d6d6d;
}

/* Logos */
.ms_logos {
  text-align: center;
  width: 100%;
}

.ms_logos img {
  width: 40px;
  padding: 10px 5px;
}

.ms_avatar.ms_logos a:first-child img {
  width: 30px;
}

.ms_avatar.ms_logos a:last-child img {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  background-color: grey;
  border-radius: 50%;
}

/* Section-Main */
section {
  height: 100%;
  width: calc( 100% - 300px );
  background-color: #141922;
  float: left;
}

/* Fixed-Bar */
.ms_fixed_bar {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: calc( 100% - 300px );
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 30px;
  z-index: 10;
}

.ms_fixed_bar.flex-container {
  align-items: center;
  flex-direction: row-reverse;
}

.ms_fixed_bar a {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}

.ms_fixed_bar a:hover {
  transform: scale(1.2);
}

/* Main-Content */
.ms_main_content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.ms_main_menu .flex-container {
  width: 100%;
  flex-direction: row;
  margin-top: 85px;
  justify-content: center;
  color: #6d6d6d;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.ms_main_menu li:first-child {
  position: relative;
}

.ms_main_menu li:first-child::after {
  content: '';
  background-color: #acff30;
  position: absolute;
  bottom: 0%;
  left: 35%;
  height: 2px;
  width: 30%;
}

.ms_main_menu .flex-item {
  padding: 5px 20px;
}

.ms_main_playlists h2 {
  color: white;
  padding-left: 20px;
}

.ms_main_playlists .flex-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ms_main_playlists .flex-item {
  text-align: center;
  width: calc( 100% / 6 );
  padding: 20px 20px 0 0;
  /* margin-right: 20px; */
}

.ms_main_playlists .flex-item img {
  width: 100%;
}

.ms_main_playlists .flex-item h5 {
  color: white;
  font-size: 1.2em;
}

.ms_main_playlists .ms_artist {
  color: #62646a;
}

.ms_main_playlists > .ms_artist {
  padding-left: 20px;
}

.ms_main_playlists .flex-container.ms_main_two:last-child img {
  border-radius: 50%;
}
/* FINE MAIN */

/* Inizio Media Query Main */
@media screen and (max-width: 1200px) {
  .ms_main_playlists .flex-item {
    width: calc( 100% / 4 );
  }
}

@media screen and (max-width: 992px) {
  .ms_main_playlists .flex-item {
    width: calc( 100% / 2 );
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .ms_navbar .flex-item:not(.ms_menu_nav) {
    padding: 0px;
  }

  section {
    width: calc( 100% - 60px );
  }

  .ms_fixed_bar {
    width: calc( 100% - 60px );
  }

}
/* Fine Media Query Main */

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
}

footer .flex-container {
  height: 100%;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-between;
}

footer .flex-container.ms_song1 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer .flex-item.ms_song,
footer .flex-item.ms_volume {
  flex-shrink: 1;
  flex-basis: 30%;
}

/* Song */
footer .flex-item.ms_song {
  margin-left: 20px;
}

footer img {
  height: 50px;
  padding-right: 10px;
}

footer .ms_info_song {
  line-height: normal;
}

footer .ms_info_song h5,
footer .ms_info_song p {
  margin: 0;
  display: inline-block;
}

footer .ms_info_song a,
footer .ms_icons_song {
  color: #797979;
}

footer .ms_info_song a {
  font-size: 12px;
}

.ms_info_song a p:hover {
  color: white;
  text-decoration: underline;
}

footer .ms_icons_song {
  width: 20%;
  text-align: right;
}

footer .ms_icons_song i:first-child {
  padding-right: 5px;
}

/* Player */
footer .flex-item.ms_player {
  flex-shrink: 1;
  flex-grow: 1;
}

footer .ms_player .flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer .ms_player .ms_icons_player i {
  padding: 0 10px;
}

footer .ms_player .fa-play-circle {
  font-size: 28px;
  vertical-align: middle;
}

.ms_player .fa-play-circle:hover {
  transform: scale(1.1);
}

footer .ms_player .ms_player_line {
  width: 70%;
  height: 4px;
  border-radius: 5px;
  background-color: #595959;
  margin: 10px auto 0 auto;
  position: relative;
}

.ms_player_line::before {
  content: '0.25';
  position: absolute;
  left: -20%;
  top: -6px;
  font-size: 12px;
}

.ms_player_line::after {
  content: '4.35';
  position: absolute;
  right: -20%;
  top: -6px;
  font-size: 12px;
}

.ms_player_listened {
  height: 100%;
  width: 20%;
  border-radius: 5px;
  background-color: #c1c1c1;
}

.ms_player_listened_green {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #a9fa2f;
  display: none;
}

.ms_player_listened_green i {
  position: absolute;
  top: -5px;
  right: -13px;
}

.ms_player_listened:hover .ms_player_listened_green {
  display: block;
  cursor: pointer;
}

/* Volume */
footer .flex-item.ms_volume {
  margin-right: 20px;
}

footer .ms_volume1.flex-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .ms_volume i {
  padding-right: 10px;
  vertical-align: sub;
}

.ms_volume_line {
  width: 30%;
  height: 4px;
  border-radius: 5px;
  background-color: #595959;
  display: inline-block;
}

.ms_volume_up {
  height: 100%;
  width: 30%;
  border-radius: 5px;
  background-color: #c1c1c1;
}

.ms_volume_up:hover .ms_volume_up_green {
  display: block;
  cursor: pointer;
}

.ms_volume_up_green {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #a9fa2f;
  display: none;
}

.ms_volume_up_green i {
  position: absolute;
  top: -5px;
  right: -13px;
}
/* FINE FOOTER */

/* Inizio Media Query Footer */
@media screen and (max-width: 768px) {

  footer .ms_icons {
    width: 10%;
    padding-left: 7px;
  }

  footer .ms_player .ms_icons_player i {
    padding: 0 5px;
  }
}
/* Fine Media Query Footer */
